{% component social_links(social_config, config) %}
<nav aria-label="Social links" class="social-links">
  {% if social_config?.email %}<a href="mailto:{{ social_config.email }}">Email</a>{% endif %}
  {% if social_config?.github %}<a href="https://github.com/{{ social_config.github }}" rel="me">GitHub</a>{% endif %}
  {% if social_config?.gitlab %}<a href="https://gitlab.com/{{ social_config.gitlab }}" rel="me">GitLab</a>{% endif %}
  {% if social_config?.linkedin %}<a href="https://www.linkedin.com/in/{{ social_config.linkedin }}" rel="me">LinkedIn</a>{% endif %}
  {% if social_config?.instagram %}<a href="https://www.instagram.com/{{ social_config.instagram }}" rel="me">Instagram</a>{% endif %}
  {% if social_config?.twitter %}<a href="https://twitter.com/{{ social_config.twitter }}" rel="me">X/Twitter</a>{% endif %}
  {% if social_config?.mastodon_username %}
    {% set mastodon_username = social_config.mastodon_username | replace(from="@", to="") %}
    <a href="https://{{ social_config.mastodon_server | default(value='mastodon.social') }}/@{{ mastodon_username }}" rel="me">Mastodon</a>
  {% endif %}
  {% if social_config?.facebook %}<a href="https://facebook.com/{{ social_config.facebook }}" rel="me">Facebook</a>{% endif %}
  {% if social_config?.keybase %}<a href="https://keybase.io/{{ social_config.keybase }}" rel="me">Keybase</a>{% endif %}
  {% if social_config?.stackoverflow %}<a href="https://stackoverflow.com/users/{{ social_config.stackoverflow }}" rel="me">Stack Overflow</a>{% endif %}
  {% if social_config?.reddit %}<a href="https://www.reddit.com/user/{{ social_config.reddit }}" rel="me">Reddit</a>{% endif %}
  {% if social_config?.discord %}<a href="https://discord.com/users/{{ social_config.discord }}" rel="me">Discord</a>{% endif %}
  {% if social_config?.behance %}<a href="https://www.behance.net/{{ social_config.behance }}" rel="me">Behance</a>{% endif %}
  {% if social_config?.youtube %}<a href="https://www.youtube.com/c/{{ social_config.youtube }}" rel="me">YouTube</a>{% endif %}
  {% if social_config?.tumblr %}<a href="https://www.tumblr.com/blog/{{ social_config.tumblr }}" rel="me">Tumblr</a>{% endif %}
  {% if social_config?.twitch %}<a href="https://www.twitch.tv/{{ social_config.twitch }}" rel="me">Twitch</a>{% endif %}
  {% if social_config?.dev %}<a href="https://dev.to/{{ social_config.dev }}" rel="me">dev.to</a>{% endif %}
  {% if social_config?.bitbucket %}<a href="https://bitbucket.org/{{ social_config.bitbucket }}" rel="me">Bitbucket</a>{% endif %}
  {% if social_config?.medium %}<a href="https://medium.com/@{{ social_config.medium }}" rel="me">Medium</a>{% endif %}
  {% if social_config?.soundcloud %}<a href="https://soundcloud.com/{{ social_config.soundcloud }}" rel="me">SoundCloud</a>{% endif %}
  {% if social_config?.googleplay %}<a href="https://play.google.com/store/apps/developer?id={{ social_config.googleplay }}&hl=en" rel="me">Google Play</a>{% endif %}
  {% if social_config?.orcid %}<a href="https://orcid.org/{{ social_config.orcid }}" rel="me">ORCID</a>{% endif %}
  {% if social_config?.google_scholar %}<a href="https://scholar.google.com/citations?user={{ social_config.google_scholar }}" rel="me">Google Scholar</a>{% endif %}
  {% if config.generate_feeds and config.feed_filenames %}<a href="{{ get_url(path=config.feed_filenames[0]) }}">Feed</a>{% endif %}
</nav>
{% endcomponent %}

{% component page_publish_metadata(page, config) %}
<span>By {{ config.extra.author?.name | default(value="") }}{% if page.date %} · <time datetime="{{ page.date }}">{{ page.date | date(format="%B %d, %Y") }}</time>{% endif %}</span>
{% endcomponent %}

{% component page_content_metadata(page) %}
<span>{{ page.reading_time }} min read · {{ page.word_count }} words</span>
{% endcomponent %}

{% component render_categories(categories) %}
{% if categories %}
<p class="post-listing__category">
  {% for category in categories %}<a href="{{ get_taxonomy_url(kind='categories', term=category) }}">{{ category }}</a>{% if not loop.last %}<span aria-hidden="true"> · </span>{% endif %}{% endfor %}
</p>
{% endif %}
{% endcomponent %}

{% component render_tags(tags) %}
{% if tags %}
<ul class="tag-list">
  {% for tag in tags %}<li><a href="{{ get_taxonomy_url(kind='tags', term=tag) }}">{{ tag }}</a></li>{% endfor %}
</ul>
{% endif %}
{% endcomponent %}
